@media screen and (min-width: 720px) {
    .pharmacist {
        display: block;
        width: 60%;
        padding: 60px;
    }
    .logo {
        display: block;
        margin-left: 10px;
        width: 65%;
        margin-top: 24px
    }
    .tagline {
        text-align: left;
    }
    .info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .info > :not(:first-child) {
        margin-top: 0;
    }
    .intro {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .intro > :not(:first-child) {
        margin-top: 0;
    }
    .services {
        text-align: left;
    }
    .meet1, .meet2, .meet3 {
        display: grid;
        padding: 240px;
        grid-template-columns: 1fr 1fr;
        align-content: center;
    }
    .meet_pic {
        display: block;
        width: 560px;
        margin-bottom: 8px;
    }
    .meet_person {
        margin-top: 16px;
        color: #1A237E;
        font-weight: bold;
        font-size: 48px;
    }
    .person_title {
        margin-top: 4px;
        color: #1A237E;
        font-weight: bold;
        font-size: 36px;
    } 
    .person_info {
        margin-left: 72px;
        margin-right: 72px;
        text-align: justify;
        font-size: 24px;
    }
}
